.converCase{
  background-color: gainsboro;
  padding: 15px 10px;
}
.converCase h4{
 text-align: center;
}
.converCase textarea{
  width: 100%;
}
.converCase button{
  background: black;
  color: white;
  margin-right: 6px;
  padding: 2px 8px;
  font-size: 12px;
}